<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link id="themeColors" rel="stylesheet" th:href="@{/common/assets/css/style.min.css}">
    <link id="all" rel="stylesheet" th:href="@{/common/assets/css/all.css}">
<!--    <link id="darkCss" rel="stylesheet" th:href="@{/common/assets/css/style-dark.css}">-->
    <link id="customColors" rel="stylesheet" th:href="@{/common/assets/css/custom.css}">
    <link rel="stylesheet" th:href="@{/font-awesome/all.css}">
    <link rel="shortcut icon" th:href="@{/common/assets/images/favicon.ico}"/>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="handheldfriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="description" content="Mordenize"/>
    <meta name="author" content=""/>
    <meta name="keywords" content="Mordenize"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>
<script th:fragment="script"></script>
<script th:src="@{/common/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/common/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/common/assets/js/sidebarmenu.js}"></script>
<script th:src="@{/common/assets/js/app.min.js}"></script>
<script th:src="@{/common/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/common/assets/libs/simplebar/dist/simplebar.js}"></script>
<script th:src="@{/common/assets/js/dashboard.js}"></script>
<script th:src="@{/common/assets/js/custom.js}"></script>
</body>
</html>