<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments::head">
    <title></title>
</head>
<body>
<div class="body-wrapper">
    <div class="container-fluid">
        <!-- --------------------------------------------------- -->
        <!--  Form Bordered Start -->
        <!-- --------------------------------------------------- -->
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">[[${pageTitle}]]</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted"
                                                               th:href="@{/admin/users}">Dashboard</a></li>
                                <li class="breadcrumb-item" aria-current="page">[[${pageTitle}]]</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <!-- Row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 style="text-align: center">Create New User</h5>
                        </div>
                        <form class="form-horizontal r-separator" method="post" th:action="@{/admin/save/user}"
                              enctype="multipart/form-data" th:object="${user}">
                            <div class="card-body bg-gray-200">
                                <div class="form-group row align-items-center mb-0">
                                    <label for="name"
                                           class="col-3 text-end control-label col-form-label">Username</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <input type="text" class="form-control" id="name" placeholder="Enter username"
                                               th:field="*{name}"/>
                                        <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                                           th:errors="*{name}"></p>
                                    </div>

                                    <label for="email" class="col-3 text-end control-label col-form-label">Email</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <input type="text" class="form-control" id="email"
                                               placeholder="Enter your email" th:field="*{email}"/>
                                        <p th:if="${#fields.hasErrors('email')}" class="text-danger"
                                           th:errors="*{email}"></p>
                                    </div>

                                    <label for="address"
                                           class="col-3 text-end control-label col-form-label">Address</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <input type="text" class="form-control" id="address"
                                               placeholder="Enter your address" th:field="*{address}"/>
                                        <p th:if="${#fields.hasErrors('address')}" class="text-danger"
                                           th:errors="*{address}"></p>
                                    </div>
                                    <label for="phoneNumber"
                                           class="col-3 text-end control-label col-form-label">Phone Number</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <input type="text" class="form-control" id="phoneNumber"
                                               placeholder="Enter your phone number" th:field="*{phoneNumber}"/>
                                        <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger"
                                           th:errors="*{phoneNumber}"></p>
                                    </div>
                                    <label for="password"
                                           class="col-3 text-end control-label col-form-label">Password</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <input type="password" class="form-control" id="password"
                                               placeholder="Enter your password" th:field="*{password}"/>
                                        <p th:if="${#fields.hasErrors('password')}" class="text-danger"
                                           th:errors="*{password}"></p>
                                    </div>

                                    <label for="roles" class="col-3 text-end control-label col-form-label">Roles</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <th:block th:each="role : ${listRoles}">
                                            <input type="checkbox" class="form-check-input" id="roles"
                                                   th:text="${role.name}" th:value="${role.id}" th:field="*{roles}"/>
                                        </th:block>
                                        <p th:if="${#fields.hasErrors('roles')}" class="text-danger"
                                           th:errors="*{roles}"></p>
                                    </div>
                                </div>
                            <div class="form-group row align-items-center mb-0">
                                <label class="col-3 text-end control-label col-form-label">Select File</label>
                                <div class="col-9 border-start pb-2 pt-2" style="position: relative;">
                                    <img alt="image-preview" class="rounded-circle mb-3" id="image-preview"
                                         th:src="@{${user.getUserPhotoPath}}" width="100" height="100">
                                    <input type="file" style="display: none" name="image" class="form-control"
                                           id="file"
                                           accept="image/png, image/jpeg"/>
                                    <br>
                                    <button style="margin-left: 10px" class="btn btn-primary"
                                            onclick="activeInputFile(event)">Upload
                                    </button>
                                </div>
                            </div>

                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0 text-end" style="margin-left: 50%">
                            <button
                                    type="submit"
                                    class="btn btn-info rounded-pill px-4 waves-effect waves-light"
                            >
                                Save
                            </button>
                            <a th:href="@{/admin/users}"
                               type="submit"
                               class="btn btn-dark rounded-pill px-4 waves-effect waves-light">
                                Cancel
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- ---------------------
                                    end Project Assinging
                                ---------------- -->
            </div>
    </div>
    </section>
</div>
</div>


<!--  Mobilenavbar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <nav class="sidebar-nav scroll-sidebar">
        <div class="offcanvas-header justify-content-between">
            <img src="../../dist/images/logos/favicon.png" alt="" class="img-fluid">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-dropdown mobile-navbar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" aria-expanded="false">
                <span>
                  <i class="ti ti-apps"></i>
                </span>
                        <span class="hide-menu">Apps</span>
                    </a>

                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-chat.html" aria-expanded="false">
                <span>
                  <i class="ti ti-message-dots"></i>
                </span>
                        <span class="hide-menu">Chat</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-calendar.html" aria-expanded="false">
                <span>
                  <i class="ti ti-calendar"></i>
                </span>
                        <span class="hide-menu">Calendar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-email.html" aria-expanded="false">
                <span>
                  <i class="ti ti-mail"></i>
                </span>
                        <span class="hide-menu">Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--  Search Bar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-1">
            <div class="modal-header border-bottom">
                <input type="search" class="form-control fs-3" placeholder="Search here" id="search"/>
                <span data-bs-dismiss="modal" class="lh-1 cursor-pointer">
              <i class="ti ti-x fs-5 ms-3"></i>
            </span>
            </div>
            <div class="modal-body message-body" data-simplebar="">
                <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
                <ul class="list mb-0 py-2">
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/fragments::script"></script>
<script th:src="@{/common/assets/js/custom-preview.js}"></script>
</body>
</html>
