<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments::head">
  <title></title>
</head>
<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-lg-4">
          <div class="text-center">
            <img th:src="@{/common/assets/images/backgrounds/errorimg.svg}" alt="" class="img-fluid">
            <h1 class="fw-semibold mb-7 fs-9">Opps!!!</h1>
            <h4 class="fw-semibold mb-7">Server Error!</h4>
            <a class="btn btn-primary" th:href="@{/}" role="button">Go back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:replace="common/fragments::script"></script>

</body>
</html>